<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{caticket.title}">CATICKET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="icon" href="../../images/favicon.png" th:href="@{/images/favicon.png}" />
    <!--[if IE]><link rel="shortcut icon" href="../../images/favicon.ico" th:href="@{/images/favicon.ico}" /><![endif]-->
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../../css/layout.css" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" type="text/css" href="../../css/caticket.css" th:href="@{/css/caticket.css}" />
</head>

<body>
    <div class="main">
        <header class="main-header lang-en" th:replace="layout :: header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" th:href="@{/caticket}">
                            <img class="logo" alt="logo" src="../../images/logo.png" th:src="@{/images/logo.png}">
                            <span class="brand" th:text="#{caticket.title}">CATICKET</span>
                        </a>
                    </div>
                    <div class="nav-user">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" th:href="@{/caticket/user}"><span class="icon-user"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="content lang-cn" th:fragment="content">
            <header class="content-header">
                <nav class="navbar navbar-default">
                    <ul class="nav navbar-nav">
                        <li class="active first"><a href="#" th:href="@{/caticket/movies}">电影</a></li>
                        <li><a class="disabled">|</a></li>
                        <li><a href="#" th:href="@{/caticket/cinemas}">影院</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group search">
                            <span class="icon-magnifying-glass vertical-center"></span>
                            <input type="search" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </nav>
            </header>

            <div class="movie-list">
                <div class="container-fluid" th:remove="all-but-first">
                    <div class="row movie-item" th:each="movie : ${movies}">
                        <div class="col-xs-4 movie-post">
                            <a href="#" th:href="@{/caticket/movies(movieId=${movie.id})}">
                                <img class="img-responsive" alt="TheHuntsman" src="../../images/TheHuntsman.jpg" 
                                    th:alt="$(movie.name)" th:src="$(movie.postURL)"/>
                            </a>
                        </div>
                        <div class="col-xs-4 movie-info">
                            <section>
                                <h1 class="movie-name" th:text="${movie.name}">猎神：冬日之战</h1>
                                <h2 class="movie-score">
                                    <span class="label label-primary" th:text="${movie.score} + '分'">7.5分</span>
                                </h2>
                                <h3 class="movie-release" th:text="${#calendars.format(movie.releaseTime, 'yyyy-mm-dd')} + #{caticket.release}">2016-07-14上映</h3>
                            </section>
                        </div>
                        <div class="col-xs-4 movie-sale">
                            <a class="btn btn-danger" role="button" href="#"
                                th:href="@{/caticket/cinemas(movieId=${movie.id})}">立即购票</a>
                        </div>
                    </div>

                    <div class="row movie-item">
                        <div class="col-xs-4 movie-post">
                            <a href="#"><img class="img-responsive" alt="TheHuntsman" src="../../images/TheHuntsman.jpg" /></a>
                        </div>
                        <div class="col-xs-4 movie-info">
                            <section>
                                <h1 class="movie-title">猎神：冬日之战</h1>
                                <h2 class="movie-score"><span class="label label-primary">7.5分</span></h2>
                                <h3 class="movie-release">2016-07-14上映</h3>
                            </section>
                        </div>
                        <div class="col-xs-4 movie-sale">
                            <a class="btn btn-danger" href="#" role="button">立即购票</a>
                        </div>
                    </div>

                    <div class="row movie-item">
                        <div class="col-xs-4 movie-post">
                            <a href="#"><img class="img-responsive" alt="TheHuntsman" src="../../images/TheHuntsman.jpg" /></a>
                        </div>
                        <div class="col-xs-4 movie-info">
                            <section>
                                <h1 class="movie-title">猎神：冬日之战</h1>
                                <h2 class="movie-score"><span class="label label-primary">7.5分</span></h2>
                                <h3 class="movie-release">2016-07-14上映</h3>
                            </section>
                        </div>
                        <div class="col-xs-4 movie-sale">
                            <a class="btn btn-danger" href="#" role="button">立即购票</a>
                        </div>
                    </div>

                    <div class="row movie-item">
                        <div class="col-xs-4 movie-post">
                            <a href="#"><img class="img-responsive" alt="TheHuntsman" src="../../images/TheHuntsman.jpg" /></a>
                        </div>
                        <div class="col-xs-4 movie-info">
                            <section>
                                <h1 class="movie-title">猎神：冬日之战</h1>
                                <h2 class="movie-score"><span class="label label-primary">7.5分</span></h2>
                                <h3 class="movie-release">2016-07-14上映</h3>
                            </section>
                        </div>
                        <div class="col-xs-4 movie-sale">
                            <a class="btn btn-danger" href="#" role="button">立即购票</a>
                        </div>
                    </div>

                    <div class="row movie-item">
                        <div class="col-xs-4 movie-post">
                            <a href="#"><img class="img-responsive" alt="TheHuntsman" src="../../images/TheHuntsman.jpg" /></a>
                        </div>
                        <div class="col-xs-4 movie-info">
                            <section>
                                <h1 class="movie-title">猎神：冬日之战</h1>
                                <h2 class="movie-score"><span class="label label-primary">7.5分</span></h2>
                                <h3 class="movie-release">2016-07-14上映</h3>
                            </section>
                        </div>
                        <div class="col-xs-4 movie-sale">
                            <a class="btn btn-danger" href="#" role="button">立即购票</a>
                        </div>
                    </div>

                    <div class="row movie-item">
                        <div class="col-xs-4 movie-post">
                            <a href="#"><img class="img-responsive" alt="TheHuntsman" src="../../images/TheHuntsman.jpg" /></a>
                        </div>
                        <div class="col-xs-4 movie-info">
                            <section>
                                <h1 class="movie-title">猎神：冬日之战</h1>
                                <h2 class="movie-score"><span class="label label-primary">7.5分</span></h2>
                                <h3 class="movie-release">2016-07-14上映</h3>
                            </section>
                        </div>
                        <div class="col-xs-4 movie-sale">
                            <a class="btn btn-danger" href="#" role="button">立即购票</a>
                        </div>
                    </div>

                    <div class="row movie-item">
                        <div class="col-xs-4 movie-post">
                            <a href="#"><img class="img-responsive" alt="TheHuntsman" src="../../images/TheHuntsman.jpg" /></a>
                        </div>
                        <div class="col-xs-4 movie-info">
                            <section>
                                <h1 class="movie-title">猎神：冬日之战</h1>
                                <h2 class="movie-score"><span class="label label-primary">7.5分</span></h2>
                                <h3 class="movie-release">2016-07-14上映</h3>
                            </section>
                        </div>
                        <div class="col-xs-4 movie-sale">
                            <a class="btn btn-danger" href="#" role="button">立即购票</a>
                        </div>
                    </div>

                    <div class="row movie-item">
                        <div class="col-xs-4 movie-post">
                            <a href="#"><img class="img-responsive" alt="TheHuntsman" src="../../images/TheHuntsman.jpg" /></a>
                        </div>
                        <div class="col-xs-4 movie-info">
                            <section>
                                <h1 class="movie-title">猎神：冬日之战</h1>
                                <h2 class="movie-score"><span class="label label-primary">7.5分</span></h2>
                                <h3 class="movie-release">2016-07-14上映</h3>
                            </section>
                        </div>
                        <div class="col-xs-4 movie-sale">
                            <a class="btn btn-danger" href="#" role="button">立即购票</a>
                        </div>
                    </div>

                    <div class="row movie-item">
                        <div class="col-xs-4 movie-post">
                            <a href="#"><img class="img-responsive" alt="TheHuntsman" src="../../images/TheHuntsman.jpg" /></a>
                        </div>
                        <div class="col-xs-4 movie-info">
                            <section>
                                <h1 class="movie-title">猎神：冬日之战</h1>
                                <h2 class="movie-score"><span class="label label-primary">7.5分</span></h2>
                                <h3 class="movie-release">2016-07-14上映</h3>
                            </section>
                        </div>
                        <div class="col-xs-4 movie-sale">
                            <a class="btn btn-danger" href="#" role="button">立即购票</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <footer class="main-footer lang-en" th:replace="layout :: footer">
            <div>
                <span th:text="#{caticket.copyright}">Copyright © 2016 by ThreeQ</span>
            </div>
        </footer>

    </div>
</body>

</html>
