<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{caticket.title}">CATICKET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="icon" href="../../images/favicon.png" th:href="@{/images/favicon.png}" />
    <!--[if IE]><link rel="shortcut icon" href="../../images/favicon.ico" th:href="@{/images/favicon.ico}" /><![endif]-->
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../../css/layout.css" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" type="text/css" href="../../css/caticket.css" th:href="@{/css/caticket.css}" />
</head>

<body>
    <div class="main">
        <header class="main-header lang-en" th:fragment="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" th:href="@{/}">
                            <img class="logo" alt="logo" src="../../images/logo.png" th:src="@{/images/logo.png}">
                            <span class="brand" th:text="#{caticket.title}">CATICKET</span>
                        </a>
                    </div>
                    <div class="nav-user">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" th:href="@{/user}"><span class="icon-user"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="content lang-cn" th:replace="$(template.name) :: $(template.fragment)">
        </div>

        <footer class="main-footer lang-en" th:fragment="footer">
            <div>
                <span th:text="#{caticket.copyright}">Copyright © 2016 by ThreeQ</span>
            </div>
        </footer>
    </div>
</body>

</html>
