<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{caticket.title}">CATICKET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="icon" href="../../images/favicon.png" th:href="@{/images/favicon.png}" />
    <!--[if IE]><link rel="shortcut icon" href="../../images/favicon.ico" th:href="@{/images/favicon.ico}" /><![endif]-->
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../../css/layout.css" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" type="text/css" href="../../css/caticket.css" th:href="@{/css/caticket.css}" />
     <link rel="stylesheet" type="text/css" href="../../css/movie_info.css" th:href="@{/css/movie_info.css}" />
</head>

<body>
    <div class="main">
        <header class="main-header lang-en" th:replace="layout :: header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" th:href="@{/}">
                            <img class="logo" alt="logo" src="../../images/logo.png" th:src="@{/images/logo.png}">
                            <span class="brand" th:text="#{caticket.title}">CATICKET</span>
                        </a>
                    </div>
                    <div class="nav-user">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" th:href="@{/user}"><span class="icon-user"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="moive-info lang-cn">
            <div class="row">
                <div class="col-xs-5 movie-poster">
                    <img class="img-poster" alt="TheHuntsman" src="../../images/TheHuntsman.jpg" th:src="@{/images/TheHuntsman.jpg}"/>
                </div>
                <div class="col-xs-7 moive-details">
                    <div>
                        
                        <h1 class="moive-name" th:text="${movieName}">猎神：冬日之战<span class="label label-info moive-score" th:text="${movieScore}">7.8分</span></h1>
                         <h2 class="moive-date" th:text="${movieDate}">2016-07-14上映</h2>
                    </div>
                    <div>
                        <h3 class="moive-type" th:text="${movieType}">类型：动作/冒险/剧情</h3><hr/>
                        <h3 class="moive-duration" th:text="${movieDuration}">时长：90分钟</h3> <hr/>
                        <h3 class="moive-language" th:text="${movieLanguage}">语言：英语</h3><hr/>
                        <h3 class="moive-director" th:text="${movieDirector}">导演：塞德里克.萨科</h3><hr/>
                    </div>
                </div>                
            </div>
            <br/>
            <div class="movie-brief">
                <div class="actor-list">
                    <h3 >主演：</h3><br/>
                    <h3 >
                         <ul>
                            <li><span class="label label-info moive-actor" th:text="${movieActor}">克里斯·海姆斯沃斯</span></li>
                            <li><span class="label label-info moive-actor" th:text="${movieActor}">查理兹·塞隆</span></li>
                            <li><span class="label label-info moive-actor" th:text="${movieActor}">艾米莉·布朗特</span></li>
                            <li><span class="label label-info moive-actor" th:text="${movieActor}">洁西卡·雀丝坦</span></li>
                            <li><span class="label label-info moive-actor" th:text="${movieActor}">柯林·摩根</span></li>
                            <li><span class="label label-info moive-actor" th:text="${movieActor}">山姆·克莱弗林</span></li>
                        </ul>
                    </h3>
                </div>
                    

                <h3 >简介：</h3>
                <h3>
                    <p>
                        邪恶魔后（查理兹·塞隆 饰）得知其妹冰雪女皇的女儿将会比她更美丽，操控冰雪女皇的爱人杀死她。善良的冰雪女皇（艾米莉·布朗特 饰）发现后崩溃，却释放出自己潜藏已久的强大冰魔法，她不再相信爱。冰雪女皇搬到遥远的北方，建立自己的帝国，变得冷酷无情，培养出一支狩猎者军队，整个帝国只有一条律法:不准爱。可是，偏偏她的左右手，狩猎者艾力（克里斯·海姆斯沃斯 饰）和莎拉（洁西卡·雀丝坦 饰）却情不自禁地爱上……于是冰雪女皇把莎拉留在身边，把艾力放逐，从此分隔他们。意想不到的是，艾力正正到了邪恶魔后所夺取的王国，并协助了白雪公主击败邪恶魔后，夺回王国。
                    </p>
                </h3>
            </div>
        </div>

        <footer class="main-footer lang-en" th:replace="layout :: footer">
            <div>
                <span th:text="#{caticket.copyright}">Copyright © 2016 by ThreeQ</span>
            </div>
        </footer>
    </div>
    <script src="../../js/caticket.js" th:src="@{/js/caticket.js}" async></script>
</body>

</html>
