<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{caticket.title}">CATICKET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="icon" href="../../images/favicon.png" th:href="@{/images/favicon.png}" />
    <!--[if IE]><link rel="shortcut icon" href="../../images/favicon.ico" th:href="@{/images/favicon.ico}" /><![endif]-->
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../../css/layout.css" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" type="text/css" href="../../css/caticket.css" th:href="@{/css/caticket.css}" />
</head>

<body>
    <div class="main">
        <header class="main-header lang-en" th:replace="layout :: header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" th:href="@{/caticket}">
                            <img class="logo" alt="logo" src="../../images/logo.png" th:src="@{/images/logo.png}">
                            <span class="brand" th:text="#{caticket.title}">CATICKET</span>
                        </a>
                    </div>
                    <div class="nav-user">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" th:href="@{/user}"><span class="icon-user"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="content lang-cn" th:fragment="content">
            <header class="content-header">
                <h1 th:text="${movie.name}">猎神：冬日之战</h1>
                <div class="nav-session">
                    <nav class="navbar navbar-default">
                        <ul class="nav navbar-nav child-nav">
                            <li class="active first" th:class="(${movie.sessionDate} == 1) ? 'active first' : 'first'">
                                <a href="#" th:text="'今天' + '('+ ${#calendars.format(movie.today, 'mm-dd')} + ')'"
                                    th:href="@{/caticket/sessions(date=${movie.today})}">今天(04-26)</a>
                            </li>
                            <li><a class="disabled">|</a></li>
                            <li th:class="(${movie.sessionDate} == 2) ? 'active'">
                                <a href="#" th:text="'明天' + '('+ ${#calendars.format(movie.tomorrow, 'mm-dd')} + ')'"
                                    th:href="@{/caticket/sessions(date=${movie.tomorrow})}">明天(04-27)</a>
                            </li>
                            <li><a class="disabled">|</a></li>
                            <li th:class="(${movie.sessionDate} == 3) ? 'active'">
                                <a href="#" th:text="'后天' + '('+ ${#calendars.format(movie.aftertomorrow, 'mm-dd')} + ')'"
                                    th:href="@{/caticket/sessions(date=${movie.aftertomorrow})}">后天(04-28)</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>

            <div class="session-list">
                <table class="session-table table">
                    <tbody th:remove="all-but-first">
                        <tr class="session-item" th:each="session : ${sessions}">
                            <td class="session-time" th:text="$(session.time)">9:00am-10:30am</td>
                            <td class="session-lang" th:text="$(session.language)">英语3D</td>
                            <td class="session-room" th:text="$(session.room)">1号厅</td>
                            <td class="session-price" th:text="'￥' + $(session.price)">￥35</td>
                            <td class="session-sale"><a class="btn btn-danger" role="button" href="#"
                                th:href="@{/caticket/movies(cinemaId=${cinema.id})}">选座购票</a></td>
                        </tr>
                        <tr class="session-item">
                            <td class="session-time">9:00am-10:30am</td>
                            <td class="session-lang">英语3D</td>
                            <td class="session-room">1号厅</td>
                            <td class="session-price">￥35</td>
                            <td class="session-sale"><a class="btn btn-danger" href="#" role="button">选座购票</a></td>
                        </tr>
                        <tr class="session-item">
                            <td class="session-time">9:00am-10:30am</td>
                            <td class="session-lang">英语3D</td>
                            <td class="session-room">1号厅</td>
                            <td class="session-price">￥35</td>
                            <td class="session-sale"><a class="btn btn-danger" href="#" role="button">选座购票</a></td>
                        </tr>
                        <tr class="session-item">
                            <td class="session-time">9:00am-10:30am</td>
                            <td class="session-lang">英语3D</td>
                            <td class="session-room">1号厅</td>
                            <td class="session-price">￥35</td>
                            <td class="session-sale"><a class="btn btn-danger" href="#" role="button">选座购票</a></td>
                        </tr>
                        <tr class="session-item">
                            <td class="session-time">9:00am-10:30am</td>
                            <td class="session-lang">英语3D</td>
                            <td class="session-room">1号厅</td>
                            <td class="session-price">￥35</td>
                            <td class="session-sale"><a class="btn btn-danger" href="#" role="button">选座购票</a></td>
                        </tr>
                        <tr class="session-item">
                            <td class="session-time">9:00am-10:30am</td>
                            <td class="session-lang">英语3D</td>
                            <td class="session-room">1号厅</td>
                            <td class="session-price">￥35</td>
                            <td class="session-sale"><a class="btn btn-danger" href="#" role="button">选座购票</a></td>
                        </tr>
                        <tr class="session-item">
                            <td class="session-time">9:00am-10:30am</td>
                            <td class="session-lang">英语3D</td>
                            <td class="session-room">1号厅</td>
                            <td class="session-price">￥35</td>
                            <td class="session-sale"><a class="btn btn-danger" href="#" role="button">选座购票</a></td>
                        </tr>
                        <tr class="session-item">
                            <td class="session-time">9:00am-10:30am</td>
                            <td class="session-lang">英语3D</td>
                            <td class="session-room">1号厅</td>
                            <td class="session-price">￥35</td>
                            <td class="session-sale"><a class="btn btn-danger" href="#" role="button">选座购票</a></td>
                        </tr>
                        <tr class="session-item">
                            <td class="session-time">9:00am-10:30am</td>
                            <td class="session-lang">英语3D</td>
                            <td class="session-room">1号厅</td>
                            <td class="session-price">￥35</td>
                            <td class="session-sale"><a class="btn btn-danger" href="#" role="button">选座购票</a></td>
                        </tr>
                        <tr class="session-item">
                            <td class="session-time">9:00am-10:30am</td>
                            <td class="session-lang">英语3D</td>
                            <td class="session-room">1号厅</td>
                            <td class="session-price">￥35</td>
                            <td class="session-sale"><a class="btn btn-danger" href="#" role="button">选座购票</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <footer class="main-footer lang-en" th:replace="layout :: footer">
            <div>
                <span th:text="#{caticket.copyright}">Copyright © 2016 by ThreeQ</span>
            </div>
        </footer>
    </div>
</body>

</html>
